/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


/* Components */
/* @import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css"; */

@import "variables.css";
@import "reset.css";


/* Screens */
@import "index.css";
@import "main.css";


body {
    margin-top: 0.5em;
    background-color: #080201;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.mb-size {
    width: 35em;
    height: 98vh;
    border: 1px solid white;
}