#squash {
    background-color: var(red);
}

.record__count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count__top {
    margin-bottom: 0.5em;
}

.count__victory {
    color: var(--red);
}

.count__defeat {
    color: var(--blue);
}

.sub__left {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.sub-btn {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: white;
    color: var(--yellow);
    border-radius: 10px;
    padding: 0.3em 0.3em 0.3em 0.5em;
    border: none;
    margin: 0.2rem;
}

.sub__left > button:first-child {
    background-color: var(--red);
    color: white;

}

.sub__right {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.sub__right > span {
    margin: 0.2rem;
}

.sub__right > span:first-child{
    font-weight: bold;
    color: var(--red);
}

.main-squash__message-btn{
    color: white;
    background-color: var(--red);
    /* 이게 눌렸다고 보여주려고 만든 클래스 */
}
